.services-section {
  padding: 80px 20px;
  text-align: center;
  width: 100%;
}

.service-tittle-top {
  margin-top: 4rem;
}

.services-lists {
  padding: 80px 20px;
  background: url('/public/svs-bg-large.jpg') center/cover no-repeat;
  width: 100%;
}

.services-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 15px;
}

.services-subtext {
  font-size: 1.2rem;
  color: #131516;
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.service-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.service-icon {
  font-size: 3rem;
  color: #28a745;
}

.service-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 15px;
  color: #0d1117;
}

.service-description {
  font-size: 1rem;
  color: #6c757d;
  margin-top: 10px;
}

.services-cta-btn {
  margin: 2rem 0 2rem 0;
}

@media screen and (max-width: 728px) {
  .service-tittle-top {
    margin-top: 0;
  }
}
  
@media screen and (max-width: 425px) {
  .services-lists {
    background: url('/public/svs-bg-small.jpg') center/cover no-repeat;
  }
  
  .services-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  }

  .services-subtext {
    font-size: 1rem;
  }

  .service-card {
    padding: 20px;
    border-radius: 5px;
  }

  .service-title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .service-description {
    font-size: 0.8rem;
  }
}
